<div class="row">
    <div class="col-6 mx-auto">
        <div class="card">
            <h6 class="card-header">{{ title }}</h6>
            <div class="card-body">
                <form action="{{ url }}" method="POST">
                    <div class="form-group">
                        <label for="title">Title</label>
                        <input type="text" name="title" id="title" class="form-control"
                            value="{{{ prop post "title" }}}" required>
                    </div>
                    <div class="form-group">
                        <textarea name="body" id="body" 
                        cols="30" rows="5" class="form-control" required
                        value="{{{ prop post "body" }}}"></textarea>
                    </div>

                    <hr>

                    <div class="form-group" id="post-attachments">
                        <input id="selector" class="form-control pt-1 mb-2" type="file" accept="image/*,video/*,.pdf,.csv" multiple
                         onchange="viewSelectedAttachments(event, '#post-attachments-thumbnails', '#post-attachments-urls', 'attachments')">
                        <div class="list-group mt-2" id="post-attachments-thumbnails"></div>
                        <div id="post-attachments-urls"></div>
                    </div>
                    <button type="submit" class="btn btn-secondary btn-rounded px-5">{{ actionTitle }}</button>
                </form>
            </div>
        </div>
    </div>
</div>